.error,
#errorMsg{
    color: red;
    font-size: 15px;
  }
  
  label{
    font-size: 18px;
    font-weight: 300
  }

  input{
      margin-bottom: 10px;
  }

  h1{
      font-size: 38px;
      font-weight: 500
  }

  #regBtn,
  #logBtn{
      width: 169px;
      font-size: 18px
  }